:root {
  --white: white;
  --etisalat: #222;
  --glo: rgb(11, 66, 11);
  --mtn: #ffcc00;
  --accent-white: #888888;
  --airtel: red;
  --default-margin: 1em;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

body {
  background: var(--white);
  color: var(--etisalat);
  height: 100%;
  width: 100%;
  box-shadow: 0px 0px;
  font-size: 14px;
  font-family: "Poppins";
}
.outer-container {
  /* padding: 0 0.25em; */
}

.main-container {
  position: relative;
  top: 100px;
  padding: var(--default-margin) calc(var(--default-margin) * 2);
  height: 100%;
  max-width: 400px;
  margin: 0 auto;
  /* top: 100px; */
}

header {
  position: fixed;
  top: 0;
  height: auto;
  background: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  width: 100%;
  padding: 0 calc(var(--default-margin) * 2);
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.main-header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.user-account {
  margin-left: auto;
  padding: 5px;
  height: 2.4rem;
  width: 2.4rem;

  border-radius: 50%;
  background-color: hsl(0, 13%, 92%);

  display: grid;
  place-items: center;
}
.main-header * {
  cursor: pointer;
  transition: 0.4s all ease-in-out;
}
.main-header *:hover {
  opacity: 0.7;
}
.menu-toggle {
  color: var(--accent-white);
  margin-right: 20px;
}
header .logo {
  font-weight: bold;
  /* color: var(--pri-green); */
  font-size: 1.1em;
  letter-spacing: 1px;
  /* position: absolute; */
  left: 4em;
}
.my-account {
  width: 1.75em;
  height: 1.75em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--mtn);
}
.navigations {
  position: relative;
  width: 100%;
  z-index: 500;
  scrollbar-width: 0 !important;
}
.nav-modal {
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  width: 50%;
  background: var(--etisalat);
  color: var(--white);
  display: none;
}

.navigations ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;

  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

  border-radius: 25px;
}
.navigations > li:hover a {
  background: #eee;
  border-radius: 15px;
}
.navigations li:hover .nav-modal {
  display: block;
}

.navigations li {
  word-wrap: none;
  white-space: nowrap;
  text-align: center;
  grid-gap: 20px;
}

.navigations li a {
  text-decoration: none;
  padding: 10px;

  display: grid;
  place-items: center;

  color: inherit;
  font-size: 0.85rem;
  transition: 0.3s all ease-in-out;
}

.navigations li a:hover,
.navigations li a.active {
  font-weight: bold;
}

.aside {
  position: fixed;
  top: 60px;
  /* top: 60px; */
  width: 100vw;
  height: calc(100vh - 60px);
  z-index: -1;
  background: rgba(0, 0, 0, 0.25);
  transition: all ease-in-out 0.4s;
  opacity: 0;
}

aside {
  background: var(--white);
  height: 100%;
  width: 300px;
  overflow-y: scroll;
  transition: all 0.4s ease-in-out;
  transform: translateX(-100%);
}

aside.show {
  transform: translateX(0);
}

aside ul {
  padding-bottom: 20px;
}

aside li {
  height: 50px;
  padding: 0 20px;
}

aside li a {
  display: block;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--etisalat);
}

aside li:hover {
  background: rgba(0, 0, 0, 0.15);
}

.aside i {
  width: 1rem;
  margin-right: 2rem;
}

footer {
  position: fixed;
  bottom: 0;
  left: 50%;

  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  transform: translateX(-50%);
  height: 60px;
  padding: 0 20px;
}

footer div {
  display: grid;
  justify-items: center;
  cursor: pointer;
  align-items: center;
}
.aside.open {
  opacity: 1;
  z-index: 1000;
}
