:root {
  --white: white;
  --etisalat: #222;
  --glo: hsl(120, 70%, 15%);
  --mtn: #ffcc00;
  --accent-white: #888888;
  --airtel: red;
  --default-margin: 1em;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

ul {
  list-style-type: none;
}

body {
  background: var(--white);
  color: var(--etisalat);
  height: 100%;
  width: 100%;
  box-shadow: 0px 0px;
  font-size: 14px;
  font-family: "Poppins";
}
.outer-container {
  /* padding: 0 0.25em; */
}

.main-container {
  position: relative;
  top: 80px;
  padding: var(--default-margin) calc(var(--default-margin) * 2);
  height: 100%;
  margin: 0 auto;
  margin-bottom: 10rem;
}

header {
  position: fixed;
  top: 0;
  height: 60px;
  background: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  width: 100%;
  padding: 0 calc(var(--default-margin) * 2);
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.main-header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.user {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.user-account {
  margin-right: 15px;
  padding: 5px;
  height: 2.3rem;
  width: 2.3rem;

  border-radius: 50%;
  background-color: var(--glo);
  color: #eee;

  display: flex;
  place-items: center;
  justify-content: center;
  align-items: center;
}
.user-account i {
  font-size: 1.5rem;
}
.user span {
  font-size: 0.85rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 500;
  opacity: 0.7;
  display: flex;
  align-items: center;
}

.user span i {
  margin-top: -3px;
}
.main-header * {
  cursor: pointer;
  transition: 0.4s all ease-in-out;
}
.main-header *:hover {
  opacity: 0.7;
}
.menu-toggle {
  color: var(--accent-white);
  margin-right: 20px;
}
header .logo {
  font-weight: bold;
  /* color: var(--pri-green); */
  font-size: 1.1em;
  letter-spacing: 1px;
  /* position: absolute; */
  left: 4em;
}
.my-account {
  width: 1.75em;
  height: 1.75em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--mtn);
}
.navigations {
  position: relative;
  width: 100%;
  z-index: 500;
  scrollbar-width: 0 !important;
  margin-bottom: 10px;
}
.nav-modal {
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  width: 50%;
  background: var(--etisalat);
  color: var(--white);
  display: none;
}

.navigations ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;

  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 25px;
}
.navigations > li:hover {
  background: #eee;
  border-radius: 15px;
}
.navigations li:hover .nav-modal {
  display: block;
}

.navigations li {
  word-wrap: none;
  white-space: nowrap;
  text-align: center;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navigations li {
  text-decoration: none;
  padding: 10px;

  color: inherit;
  font-size: 0.85rem;
  transition: 0.3s all ease-in-out;
}

.navigations li a:hover,
.navigations li a.active {
  font-weight: bold;
}

.aside {
  position: fixed;
  top: 60px;
  bottom: 0;
  width: 100vw;
  height: calc(100% - 60px);
  z-index: -1;
  background: rgba(0, 0, 0, 0.25);
  transition: all ease-in-out 0.4s;
  opacity: 0;
  display: flex;
}

aside {
  background: var(--white);
  height: 100%;
  min-width: 300px;
  flex-grow: 1;
  overflow-y: auto;
  transition: all 0.4s ease-in-out;
  transform: translateX(-100%);
}
.close-aside {
  position: relative;
  height: 100%;
  width: 100%;
  flex-grow: 1;
  background: hsla(120, 70%, 15%, 30%);
}

.close-aside > i {
  position: absolute;
  top: 1rem;
  left: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 8px 23px;
  border-radius: 50%;

  font-size: 2rem;

  background: rgb(11, 65, 11);
  color: #fff !important;

  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.close-aside > i:hover {
  box-shadow: 0 0 5px #fff;
  transform: scale(0.95);
}
aside.show {
  transform: translateX(0);
}

aside ul {
  padding: 15px;
  padding-left: 10px;
  padding-right: 5px;
}

aside li {
  height: 50px;
  padding: 0 20px;
  border-radius: 5px;
}

aside li:not(:last-child) {
  margin-bottom: 5px;
}
aside li a {
  display: flex;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--etisalat);
}

aside li a i:nth-child(2) {
  margin-left: auto;
}

aside li:hover {
  background: hsla(120, 70%, 15%, 15%);
}

aside li.active {
  background: hsla(120, 70%, 15%, 30%);
  font-weight: 500;
}

aside li.active a {
}

.aside i {
  width: 1rem;
  margin-right: 25px;
  color: var(--glo);
  opacity: 0.7;
}

footer {
  position: fixed;
  bottom: 0;
  left: 50%;

  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  transform: translateX(-50%);
  height: 60px;
  padding: 0 20px;
}

footer div {
  display: grid;
  justify-items: center;
  cursor: pointer;
  align-items: center;
}
.aside.open {
  opacity: 1;
  z-index: 1000;
}

.fieldset {
  position: relative;
  padding: 20px;
  margin-top: 2rem;
  border: 2px solid hsla(120, 70%, 15%, 15%);
  border-radius: 5px;
}

.fieldset__title {
  position: absolute;
  top: -20px;
  background-color: #fff;
  padding: 10px;
}

.blog-section {
  background-color: #f3f3f3;
  margin-top: 20px;
}
.blogs {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  padding: 20px;
}

.blog-section h1 {
  padding: 20px;
}
.blog {
  background-color: #fff;
  min-height: 200px;
  padding: 20px;
}

@media (min-width: 680px) {
  .blogs {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
