.form-container {
    padding: 1rem;
}

.form-title {
    padding-bottom: 1rem;
}
label {
    display: block;
    margin-bottom: .5rem;
}
input, select, button {
    display: block;
    width: 100%;
    padding: .5rem;
    background: transparent;
}

form i {
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
}

.input-group {
    margin-bottom: 1rem;
}